In [ ]:
#add 100 to our savings
savingsAccount = 1000
savingsAccount = savingsAccount + 100 


#remove 50 from our checking account
checkingAccount = 10000
checkingAccount = checkingAccount - 50


#calcule the numbers of days to save to reach 5000
numbersDayssave = (5000 - checkingAccount) /500


#update our checking account (again) after the daily gains/losses
checkingAccount = checkingAccount + (30-10)*7
print(checkingAccount)
print(checkingAccount)
print(numbersDayssave)

10090
10090
-9.9

In [ ]:
#long version
account = 200
savings = 3000

#To do: modify the following line with the simplyfied operator +=
##savings = savings + 500
savings += 500
print(savings)

3500

In [ ]:
savingsAccount = 10000
rate = 0.75
interest = savingsAccount * (rate/100)
print("your account balance was " , savingsAccount, "$\nyou earned", interest, "$ this year")

your account balance was  10000 $
you earned 75.0 $ this year

In [ ]:
#Changing a float result to integer

savingsAccount = 10000
rate = 0.75

interest = savingsAccount * (rate/100)
interest=int(interest)

print(interest)

75

In [ ]:
favoritecity = "New York"
favoritecitytwo = "Chicago"
favorites = "my favorites cities are" "  " + favoritecity + "and"+ favoritecitytwo
print(favorites)

my favorites cities are  New YorkandChicago

In [ ]:
#using concatenation
City = "Sidney"
numberTrips = 5
history = "I've been to"  " " + City + str(numberTrips) + "times" 
print(history)

I've been to Sidney5times

In [ ]:
#Using functions
a="apple"
print(len(a))
print(type(a))
print(pow(4,2))
print(abs(-100))

5
<class 'str'>
16
100

In [ ]:
#Using indented functions def
def printPerimeter():
  dimension1 = 6
  dimension2 = 4
  dimension3 = 3
  perimeter = [dimension1 + dimension2 + dimension3]
  print(perimeter)
  printPerimeter()

In [ ]:
def printPerimeter(dimension1, dimension2, dimension3):
 printPerimeter(10, 11, 4)
 printPerimeter(2, 2, 3.5)
 perimeter = dimension1+dimension2+dimension3 
 print(perimeter)

In [ ]:
#using calculatePerimeter func
def calculatePerimeter(dimension1, dimension2, dimension3):
 perimeter = dimesion1 + dimesion2 + dimesion3
 return perimeter
 perimeter1 = calculatePerimeter(6, 4, 3)
 perimeter2 = calculatePerimeter(10, 3, 11)

 print("the perimeter of my first triangle is", perimeter1, "and that of my second is", perimeter2)

In [ ]:
def f(x):
  return x**2+1
  f(4)

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
help(calculatePerimeter)

Help on function calculatePerimeter in module __main__:

calculatePerimeter(dimension1, dimension2, dimension3)
    #using calculatePerimeter func

In [ ]:
a = "HELLO, WORLD"
a.lower() 
a = "HELLO, WORLD"
a.capitalize()

'Hello, world'

In [ ]:
text = "here is an EXAMPLE of a STRING"
a= text.upper()
print(a)
print(text.capitalize())
print(text.replace('EXAMPLE', 'test'))
print(text.find('an'))
print(text.find('two'))

HERE IS AN EXAMPLE OF A STRING
Here is an example of a string
here is an test of a STRING
8
-1

In [ ]:
mySentence = 'I AM EXCITED!!'
a = 'I AM EXCITED'
a.lower()

'i am excited'

In [ ]:
mySentence = 'I AM EXCITED!!'
print(mySentence.replace('EXCITED', 'calm!!'))

I AM calm!!!!

In [ ]:
x = 10
x += 12
y = int(x/4)
print(x + y)

27

In [ ]:
customerName=['Marion Weaver', 'Alberto Mendoza', 'Katherine Tyler', 'Isaac Steel']
print(customerName[0])
print(customerName[-1])
print(customerName[1:3])
print(customerName[:2])

Marion Weaver
Isaac Steel
['Alberto Mendoza', 'Katherine Tyler']
['Marion Weaver', 'Alberto Mendoza']

In [ ]:
strangeList=[4,  10.2,  'Marion Weaver',   ['another List',1]]
print(strangeList[3])
print(strangeList[2])
print(strangeList[1:3])
print(strangeList[1:2])
print(strangeList[:3])
print(strangeList[1:4])
print(strangeList[0:3])
print(strangeList[1:2])

['another List', 1]
Marion Weaver
[10.2, 'Marion Weaver']
[10.2]
[4, 10.2, 'Marion Weaver']
[10.2, 'Marion Weaver', ['another List', 1]]
[4, 10.2, 'Marion Weaver']
[10.2]

In [ ]:
#Adding to the list
strangeList.append(7)
print(strangeList)
strangeList.append('Mr macho man Randy Savage')
strangeList.insert(1,'Flavius')
print(strangeList)

[4, 10.2, 'Marion Weaver', ['another List', 1], 7]
[4, 'Flavius', 10.2, 'Marion Weaver', ['another List', 1], 7, 'Mr macho man Randy Savage']

In [ ]:
del strangeList [9]
print(strangeList)

[4, 'Flavius', 'Flavius', 10.2, 'Marion Weaver', ['another List', 1], 7, 7, 7, 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage', 7, 'Mr macho man Randy Savage']

In [ ]:
list=[1,2,3,4,5]
len(list)

5

In [ ]:
guests=[]
guests.append('Joey')
guests.append('Martin')
guests.append('Mary')
print(guests)

['Joey', 'Martin', 'Mary']

In [ ]:
#replace Martin with John

guests=['Joey','Martin','Mary']
guests[1]='John'
for guest in guests:
  print(guests)

['Joey', 'John', 'Mary']
['Joey', 'John', 'Mary']
['Joey', 'John', 'Mary']

In [ ]:
#delete John from list
guests=['jOey', 'John', 'Mary']
del guests[0]
print(guests)

['John', 'Mary']

In [ ]:
#another form for delete or remove from list
guests=['Martin', 'John', 'Mary']
guests.insert(1,'John')
guests.remove('Martin')
print(guests)

['John', 'John', 'Mary']

In [ ]:
#delete Mary from the list
guests.remove('Mary')
print(guests)

['John', 'John']

In [ ]:
#Diccionaries, how to call them

accounts={'Marion weaber':1000, 'Alberto Mendoza':150, 'Katharine Tylor':300, 'Isaac Steele':1800.74}
print(accounts['Alberto Mendoza'])

150

In [ ]:
#Manipulate the items of a diccionary

accounts['Marion weaber']-=2000
accounts['Kristian Roach']=1000
print(accounts['Kristian Roach'])

1000

In [ ]:
#dicctionary: deleting an item using pop()

accounts.pop('Alberto Mendoza')

150

In [ ]:
#diccionary: using len() command

len(accounts)

4

In [ ]:
#Understand inmutable tuples; can not be modified

my_tuple=(1,2,3,'a','b')
print(my_tuple[1])
print(my_tuple[4])

2
b

In [ ]:
#declare several variables at the same time in a tuple

a,b=(1,'aple')
print(a)
print(b)

1
aple

In [ ]:
#error trying to modify a tuple, example

my_tuple=(1,2,3,'a','b')
my_tuple[2]=4

TypeError: ignored

In [ ]:
#REcap:

# Lists: an ordered, editable collection where each item is associated with an index

#Dictionaries: an unordered, editable collection where each item is associated with a key

#Tuples: an ordered, non-mutable collection , where each item is associated with an index

#The most common actions performed with lists and dictionaries are:

#Access an item

#Add an item

#Delete an item

#Modify an item

#Count the number of items stored

#We can perform these different actions via methods.

In [ ]:
#Printing information IF is available

username= input('What is your name, dear stranger?')

What is your name, dear stranger?Carlos

In [ ]:
Store = input('Store:') 
Job_number = input('Job number:')
Production_Number = input('Production Number:')
Hi_Pot = input('Pass:') 

if len(Hi_Pot) > 4:
    # Handle case where Hi_Pot is less than 4 characters
    print('Hi_Pot is too short')
else:
    # Handle case where Hi_Pot is greater than or equal to 4 characters
    print('Troubleshooting')

Store:Grocery
Job number:345612
Production Number:865241
Pass:Bad
Troubleshooting

In [ ]:
import openpyxl

# Load the Excel file
workbook = openpyxl.load_workbook('data.xlsx')

# Select the worksheet where you want to store the data
worksheet = workbook.active

# Get the next available row in the worksheet
row = worksheet.max_row + 1

# Collect data for each day
while True:
    # Collect store data
    store = input('Enter the name of the store: ')
    if len(store) > 0:
        print('Store:', store)
    else:
        print('Invalid input. Please enter the name of the store.')
        continue

    # Collect job number data
    job_number = input('Enter the job number for today: ')
    if len(job_number) > 0:
        print('Job number:', job_number)
    else:
        print('Invalid input. Please enter the job number for today.')
        continue

    # Collect production number data
    production_number = input('Enter the production number for today: ')
    if len(production_number) > 0:
        print('Production number:', production_number)
    else:
        print('Invalid input. Please enter the production number for today.')
        continue

    # Collect password data
    hi_pot = input('Enter the password for today: ')
    if len(hi_pot) < 4:
        print('Password is too short. Please enter a password with at least 4 characters.')
        continue
    else:
        print('Password accepted.')

    # Write the collected data to the Excel worksheet
    worksheet.cell(row=row, column=1, value=store)
    worksheet.cell(row=row, column=2, value=job_number)
    worksheet.cell(row=row, column=3, value=production_number)
    worksheet.cell(row=row, column=4, value=hi_pot)

    # Increment the row counter
    row += 1

    # Save the changes to the Excel file
    workbook.save('data.xlsx')

    # Ask the user if they want to collect data for another day
    another_day = input('Do you want to collect data for another day? (y/n)')
    if another_day.lower() != 'y':
        break

FileNotFoundError: ignored

In [ ]:
from os import name
#Exercise:

#Now design the code that will let you say hello to your user:

#Ask the user their name and store their answer in a variable:   name .

#Check that the  name  variable definitely contains a value (in case the user doesn't give an answer). The   len  function will help you to perform this task!

#If this is the case, say Hello to your user with their name.

#Otherwise, keep saying Hello to the world. 

name=input('What is your name, dear stranger?')
if len(name) > 0:
   print("Hello",name, "!")
else:
   print("Hello, World!")

What is your name, dear stranger?Carlos
Hello Carlos !

In [ ]:
name=input('What is your name, dear stranger?')
if len(name) > 0:
   print("Hello",name, "!")
else:
   print("Hello, World!")

What is your name, dear stranger?Carlos
Hello Carlos !

In [ ]:
#Use Booleans: The No-Half-Measure Type

#if condition1:
    # instructions
#elif condition2:
    # instructions
#else:
    # instructions

account= input("What is in your account balance?")
account=int(account)

if account >=1000:
  print("loan granted!")
elif account>= 100 and account < 1000:
  print("loan in process of validation: under study")
else:
  print("loan refused")

What is in your account balance?1000
loan granted!

In [ ]:
account= input("What is in your account balance?")
account=int(account)

if account >=1000:
  print("loan granted!")
elif account>= 100 and account < 1000:
  print("loan in process of validation: under study")
else:
  print("loan refused")

What is in your account balance?600
loan in process of validation: under study

In [ ]:
account= input("What is in your account balance?")
account=int(account)

if account >=1000:
  print("loan granted!")
elif account>= 100 and account < 1000:
  print("loan in process of validation: under study")
else:
  print("loan refused")

What is in your account balance?89
loan refused

In [ ]:
#Let's Recap

#Conditions let you execute a block of code when a Boolean, variable, or expression is true (True).

#Expressions use Boolean arithmetic, including logical operators and comparison operators.

#You can apply several conditions with if/elif/else chains.

In [ ]:
a=5
b=10
c=7

if c<a :
  print("c is smaller than b")
else:
  print("c is greater")
if c>b:
  print("c is greater than b")
elif c>= a and c<b:
  print("Good job Dexter!")

c is greater
Good job Dexter!

In [ ]:
a = 5
b = 10
c = 7
if c < a:
    print("c is smaller than a")
elif c > b:
    print("c is greater than b")
else:
    print("c is between a and b")

c is between a and b

In [ ]:
Suction_Pressure=input("Read the pressure")
Suction_Pressure=float(Suction_Pressure)
Cut_Off= 250
Cut_in= 225

if Suction_Pressure > 230:
  print("Suction_Pressure too high")
if len(name) <= 100:
   print("Super_Heat is not in range")
if Suction_Pressure < 150:
  print("Suction_Pressure going down fast")
elif Suction_Pressure >= 150 and Suction_Pressure < 220:
  print("Suction_Pressure is too low")

Read the pressure250
Suction_Pressure too high
Super_Heat is not in range

In [ ]:
Suction_Pressure = input("Read the pressure: ")
Suction_Pressure = float(Suction_Pressure)
Cut_Off = 250
Cut_in = 225

if Suction_Pressure > 230:
  print("Suction_Pressure too high")
elif Suction_Pressure < 150:
  print("Suction_Pressure going down fast")
elif Suction_Pressure >= 150 and Suction_Pressure < 220:
  print("Suction_Pressure is too low")
else:
  print("Super_Heat is not in range")

Read the pressure: 230
Super_Heat is not in range

In [ ]:
#Loops; for and while command
#For:

myList=[7,2,4,10]
for elt in myList:
  print(elt)

7
2
4
10

In [ ]:
myString="items"
for elt in myString:
 print(elt)

i
t
e
m
s

In [ ]:
#Creating a collection

#Quite often, you will find that you simply need to loop over a range of integer values, e.g. 0, 1, 2, 3….  This is the conventional loop you see most often in languages like Javascript or C++.  Because Python wants to loop over a collection, you need to create a collection containing your range of integer values.

#To do this, you will use the   range(start, stop, step)  function, which will generate a collection of numbers according to three parameters:

#start : the first number of the sequence.

#stop  corresponds to the last number of the sequence, non-inclusive. The function will generate numbers from   start  to   stop-1.

#step :  the step between each generated number.

#Not all parameters are necessary. For example:

#for i in range(0, 5, 1):

for i in range(0,5,1):
  print(i)

  for i in range(0,5):
    print(i)

    for i in range(5):
      print(i)

    for i in range(0,5,2):
      print(i)

0
0
0
1
2
3
4
0
2
4
1
0
1
2
3
4
0
2
4
2
0
1
2
3
4
0
2
4
3
0
1
2
3
4
0
2
4
4
0
1
2
3
4
0
2
4
1
0
0
1
2
3
4
0
2
4
1
0
1
2
3
4
0
2
4
2
0
1
2
3
4
0
2
4
3
0
1
2
3
4
0
2
4
4
0
1
2
3
4
0
2
4
2
0
0
1
2
3
4
0
2
4
1
0
1
2
3
4
0
2
4
2
0
1
2
3
4
0
2
4
3
0
1
2
3
4
0
2
4
4
0
1
2
3
4
0
2
4
3
0
0
1
2
3
4
0
2
4
1
0
1
2
3
4
0
2
4
2
0
1
2
3
4
0
2
4
3
0
1
2
3
4
0
2
4
4
0
1
2
3
4
0
2
4
4
0
0
1
2
3
4
0
2
4
1
0
1
2
3
4
0
2
4
2
0
1
2
3
4
0
2
4
3
0
1
2
3
4
0
2
4
4
0
1
2
3
4
0
2
4

In [ ]:
for i in range(0,5,1):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5,2):
  print(i)

0
2
4

In [ ]:
#While loop:

#while expressionlogic:

  #Here's how it works:

#The program checks that expressionLogic  is equal to True.

#If this is the case, the indented statements following the: are run. Once this is done, we return to step one.

#Otherwise, the program exits the loop without running the statements.

numberTrees = 0

while numberTrees <10:
  numberTrees += 1
  print("I planted", numberTrees, "trees")
  print("I have a nice forest!")

I planted 1 trees
I have a nice forest!
I planted 2 trees
I have a nice forest!
I planted 3 trees
I have a nice forest!
I planted 4 trees
I have a nice forest!
I planted 5 trees
I have a nice forest!
I planted 6 trees
I have a nice forest!
I planted 7 trees
I have a nice forest!
I planted 8 trees
I have a nice forest!
I planted 9 trees
I have a nice forest!
I planted 10 trees
I have a nice forest!

In [ ]:
numberTrees = 0

while numberTrees < 10:
    numberTrees += 1
    print("I planted", numberTrees, "trees")

print("I have a nice forest!")

I planted 1 trees
I planted 2 trees
I planted 3 trees
I planted 4 trees
I planted 5 trees
I planted 6 trees
I planted 7 trees
I planted 8 trees
I planted 9 trees
I planted 10 trees
I have a nice forest!

In [ ]:
 
numberTrees = 0
while numberTrees < 10:
    numberTrees += 1
    print("I planted", numberTrees, "trees")
print("I have a nice forest!")

I planted 1 trees
I planted 2 trees
I planted 3 trees
I planted 4 trees
I planted 5 trees
I planted 6 trees
I planted 7 trees
I planted 8 trees
I planted 9 trees
I planted 10 trees
I have a nice forest!

In [ ]:
numberTrees = 0
while numberTrees <10:
  numberTrees += 1
print("I planted", numberTrees, "trees")
print("I have a nice forest!")

I planted 10 trees
I have a nice forest!

In [ ]:
numberTrees = 0

while numberTrees < 10:
    numberTrees += 1
    print("I planted", numberTrees, "trees")

print("I have a nice forest!")

I planted 1 trees
I planted 2 trees
I planted 3 trees
I planted 4 trees
I planted 5 trees
I planted 6 trees
I planted 7 trees
I planted 8 trees
I planted 9 trees
I planted 10 trees
I have a nice forest!

In [ ]:
#This is a mistake that could get your code to an infinity run. Be careful

theSunIsShining = True

while theSunIsShining: 
  print("Stay awake")
  print("go to sleep")

In [ ]:
for i in range(5):
    print("OpenClassrooms is really great!")

OpenClassrooms is really great!
OpenClassrooms is really great!
OpenClassrooms is really great!
OpenClassrooms is really great!
OpenClassrooms is really great!

In [ ]:
i = 0
while i < 5:
    print("OpenClassrooms is really great!")
    i += 1

OpenClassrooms is really great!
OpenClassrooms is really great!
OpenClassrooms is really great!
OpenClassrooms is really great!
OpenClassrooms is really great!

In [ ]:
#For example, you want to repeat something 10 times, but skip (at least partially) 
#when the value is 2 or 5. In Python, to force the start of the next loop iteration, use the keyword continue:

for i in range(10):
  print(i)
  if(i==2) or (i==5):
   print("Special case")
  continue
print("i! = 2 & i != 5")

0
1
2
Special case
3
4
5
Special case
6
7
8
9
i! = 2 & i != 5

In [ ]:
#You can also decide to interrupt the loop, for example when looking for a particular item in a list. For this, 
#you will use the "break"  keyword.

basket=["apple", "orange", "banana"]
for fruit in basket:
  if fruit == "orange":
    print("I have an orange")
    break

#Let's Recap
#In this chapter, you have discovered two types of loops:

#The loop for repeating an action a certain number of times, or according to a sequence: the for loop.

#The loop that allows you to repeat an action as long as a condition is true: the while loop.

#There is a common mistake that you must not make with the while loop: the infinite loop!

#You can choose to skip certain loop iterations via the continue keyword.

#The cycles of the loop can be interrupted via the break command.

#Now that you have seen how to control your program flow, you can broaden your horizons with the discovery of modules and libraries!

I have an orange

In [ ]:
#test


#print(num)
#{'one': 1 , 'two': 3}
#into:
#{'one': 1 , 'two': 2}

num= {'one': 1, 'two': 3}
num['two']=2
print(num)

{'one': 1, 'two': 2}

In [ ]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
   print(1)
   print(2)
   if 'a' in 'qux':
      print(3)
print(4)

1
2
4

In [ ]:
d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
   print('yeah!')
elif d['b'] > 0:
   print('yeah!')
elif d['c'] > 0:
   print('ok')
elif d['d'] > 0:
   print('ok')
else:
   print('not ok')

yeah!

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
 
while a:
   if len(a) < 3:
      break
   print(a.pop())
print('Done.')

corge
qux
baz
Done.

In [ ]:
#Modules at python

#A module is a Python file containing a set of predefined and operational functions, classes, and variables, which you can use as you wish in your code!

#For example, if you are working on a problem involving geometry, you might need:

#classes:

#Square—defined by the length of its side

#Triangle—defined by the length of its three sides

#Circle—defined by its radius.

#variables:

#Pi: constant necessary for calculating the area of a circle, equal to 3.1415...

#Phi: constant that represents the golden ratio, equal to 1.6180...

#functions:

#Area: takes as parameter a geometrical object (square, triangle, etc.) and calculates its area

#Angles: takes a triangle as a parameter, and calculates its internal angles


'''
Module geometry.py
'''
# variables
pi = 3.14159265359
phi = 1.6180

# function that calculates the area
def area(obj):
    if type(obj) == square:
        return obj.a**2

# definitions of some classes
class square(object):
    def __init__(self,a):
        self.a = a

class triangle(object):
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

import geometry

#After doing this, you can use the different items defined in your module:

squa = geometry.square(4)
tri = geometry.triangle(3, 6, 5)

print(geometry.pi) # -> 3.14159265359

geometry.area(squa) # -> 16

#All items included in the geometry module can be used via the   moduleName.  notation, i.e.,  moduleName.function()  or   moduleName.variable. So, in the above example, we can use  geometry.area()  or  geometry.pi. If you don't want to rewrite geometry every time, you have two other options:

#Either give an alias to the name of your module, so you only have to write the alias:

import geometry as geo # we can now access geo.area() or geo.pi
Or, import specific functions that you can then use as native Python functions/variables (without the  .  notation):

from geometry import pi
print(pi) # -> 3.14159265359


#A particular case of this last method is to import in one line all the objects contained in a module via the  *  notation. However, this is not the recommended method, in order to avoid, for example, conflicts between several modules that might have identical function names.

from geometry import *

#When a Module is Not Enough: Packages
#A package (sometimes called a library) is a collection, a set of Python modules. As you have seen above, a module is a Python file. A package is simply a folder containing several Python files (.py) and an additional file named   __init__.py. This differentiates a package from an ordinary folder containing only Python codes.

#For example, you could have stored your geometry module in three different files instead of just one:

#One for classes: classes.py

#One for variables: variables.py

#One for functions: functions.py

#You will need to use the . operator to access the module after importing the package:

import geometry # import all the geometry package

print(geometry.variables.pi) # -> 3.1415...
squa = geometry.classes.square(4)
geometry.functions.area(squa) # -> 16

#Or, you can also import only one module from the package:

import geometry.variables as var # import only what is defined in variables.py

print(var.pi) # -> 3.1415...

#Packages in Data Analysis

#Packages are ubiquitous in data analysis with Python. Indeed, many packages have been created specifically to address the issues that this subject involves. As you progress, you will be required to:

#manipulate your data to facilitate analysis.

#make various relevant graphs representing the behavior of your data.

#use statistical methods.

#run machine learning algorithms of varying complexity. And to achieve all this, you will need to master the various objects and functions from the corresponding packages.

#You come back to your initial problem (having a square root function), there is for example the numpy package which offers the necessary function—and many other things!

import numpy as np

np.sqrt(16) # -> 4.0

#In order to solidify the concept of packages, we will look at a concrete example of the use of therandom package in the next chapter.

#Let's Recap

#In this chapter, together we have seen the basics of using modules and packages:

#A module is a file containing Python code (.py extension) that can define functions, classes, and/or variables.

#You can import any Python module via the import keyword.

#To use a function class or a variable within a module, you must use the  .  operator.

#A package is a set of several Python modules.

In [ ]:
#Manipulate random numbers with random modules

import random

for i in range(3):
  print(random.random())

0.24188138585840946
0.37433852893080743
0.7361951529970312

In [ ]:
print('Example of the uniform function:')
for i in range (3):
  print(random.uniform(5,10))

  print('_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _')
  print('Example of the randint function:')
  for i in range (3):
    print(random.randint(5,10))

Example of the uniform function:
5.829687409443457
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Example of the randint function:
8
10
7
8.224188045436513
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Example of the randint function:
10
7
9
7.074047192956522
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Example of the randint function:
10
5
7

In [ ]:
import random

# Roll two dice
dice1 = random.uniform(1, 6)
dice2 = random.uniform(1, 6)

# Print the result
print("You rolled", dice1, "and", dice2)

You rolled 4.137534927416981 and 5.371610552355309

In [ ]:
import random

# Generate random coordinates in a 2D plane
x = random.uniform(-1.0, 1.0)
y = random.uniform(-1.0, 1.0)

# Print the coordinates
print("Random coordinates:", x, y)

Random coordinates: -0.9852979743121504 -0.8527958369096678

In [ ]:
import random

# Simulate the stock price of a company
price = 100.00

# Generate random price changes for 30 days
for i in range(30):
    change = random.uniform(-5.0, 5.0)
    price = price + change

# Print the final price
print("Final price:", price)

Final price: 84.3826111479607

In [ ]:
import random

# generate a random integer between 1 and 10
x = random.randint(1, 10)
print(x)

# generate a random integer between 0 and 100
y = random.randint(0, 100)
print(y)

8
76

In [ ]:
import random

# create a list of seats on the plane
seats = [f"{i}{j}" for i in ["A", "B", "C", "D", "E", "F"] for j in range(1, 31)]

# shuffle the seats to assign them randomly
random.shuffle(seats)

# generate a list of passengers
passengers = ["Alice", "Bob", "Charlie", "Dave", "Eve", "Frank", "Grace", "Heidi", "Ivan", "Judy"]

# assign seats to passengers
for i, passenger in enumerate(passengers):
    seat = seats[i]
    print(f"{passenger} has been assigned seat {seat}.")

Alice has been assigned seat B5.
Bob has been assigned seat D25.
Charlie has been assigned seat F22.
Dave has been assigned seat C11.
Eve has been assigned seat D17.
Frank has been assigned seat C10.
Grace has been assigned seat A25.
Heidi has been assigned seat D4.
Ivan has been assigned seat E9.
Judy has been assigned seat E30.

In [ ]:
import random

# create a list of seats on the plane
seats = [f"{i}{j}" for i in ["A", "B", "C", "D", "E", "F"] for j in range(1, 31)]

# generate a list of passengers
passengers = ["Alice", "Bob", "Charlie", "Dave", "Eve", "Frank", "Grace", "Heidi", "Ivan", "Judy"]

# assign seats to passengers
for passenger in passengers:
    seat = random.choice(seats)
    seats.remove(seat)
    print(f"{passenger} has been assigned seat {seat}.")

Alice has been assigned seat F10.
Bob has been assigned seat A1.
Charlie has been assigned seat E24.
Dave has been assigned seat C22.
Eve has been assigned seat D11.
Frank has been assigned seat F30.
Grace has been assigned seat B15.
Heidi has been assigned seat D14.
Ivan has been assigned seat F23.
Judy has been assigned seat E12.

In [ ]:
import random
import statistics

# previous strength data (in MPa)
data = [54.2, 51.9, 53.7, 53.5, 52.1, 53.6, 52.8, 53.1, 53.9, 52.7]

# calculate mean and standard deviation
mean = statistics.mean(data)
stdev = statistics.stdev(data)

# generate 10 random strength values
for i in range(10):
    strength = random.normalvariate(mean, stdev)
    print(f"Random strength value {i+1}: {strength:.2f} MPa")

Random strength value 1: 52.11 MPa
Random strength value 2: 53.64 MPa
Random strength value 3: 52.63 MPa
Random strength value 4: 52.66 MPa
Random strength value 5: 53.42 MPa
Random strength value 6: 54.03 MPa
Random strength value 7: 52.44 MPa
Random strength value 8: 52.44 MPa
Random strength value 9: 52.49 MPa
Random strength value 10: 52.43 MPa

In [ ]:
numbers=[1,2,3,4,5]
for num in numbers:
  print(num)

1
2
3
4
5

In [ ]:
 for i in range(7):
    print (i)

0
1
2
3
4
5
6

In [ ]:
voltages= [12,15,18,22,24]
resistance= 10
for voltage in voltages:
  power=(voltage**2)/resistance
  print(power)

14.4
22.5
32.4
48.4
57.6

In [ ]:
voltages= [12,15,18,22,24]
resistance= 10
for voltage in voltages:
  power=(voltage**2)/resistance
  print(f"Voltage: {voltage} V, Power: {power:.2f} W")

Voltage: 12 V, Power: 14.40 W
Voltage: 15 V, Power: 22.50 W
Voltage: 18 V, Power: 32.40 W
Voltage: 22 V, Power: 48.40 W
Voltage: 24 V, Power: 57.60 W

In [ ]:
voltages= [12,15,18,22,24]
resistance= 10
for voltage in voltages:
  power=(voltage**2)/resistance
  print(f"Voltage: {voltage} V, Power: {power:f} W")

Voltage: 12 V, Power: 14.400000 W
Voltage: 15 V, Power: 22.500000 W
Voltage: 18 V, Power: 32.400000 W
Voltage: 22 V, Power: 48.400000 W
Voltage: 24 V, Power: 57.600000 W

In [ ]:
voltages= [12,15,18,22,24]
resistance= 10
for voltage in voltages:
  power=(voltage**2)/resistance
  print(f"Voltage: {voltage} V, Power: {power} W")

Voltage: 12 V, Power: 14.4 W
Voltage: 15 V, Power: 22.5 W
Voltage: 18 V, Power: 32.4 W
Voltage: 22 V, Power: 48.4 W
Voltage: 24 V, Power: 57.6 W

In [ ]:
n=10
sum=0
for i in range(1,n+1):
  sum +=i
  print(f'the sum of the first {n} natural numbers is: {sum}')

the sum of the first 10 natural numbers is: 1
the sum of the first 10 natural numbers is: 3
the sum of the first 10 natural numbers is: 6
the sum of the first 10 natural numbers is: 10
the sum of the first 10 natural numbers is: 15
the sum of the first 10 natural numbers is: 21
the sum of the first 10 natural numbers is: 28
the sum of the first 10 natural numbers is: 36
the sum of the first 10 natural numbers is: 45
the sum of the first 10 natural numbers is: 55

In [ ]:
celsius_temperatures = [0,10,20,30,40]
fahrenheit_temperatures=[]
for temp in celsius_temperatures:
  f_temp = (temp * 1.8) + 32
  fahrenheit_temperatures.append(f_temp)


print("Celsius Temperatures:", celsius_temperatures)
print("Fahrenheit Temperatures:", fahrenheit_temperatures)

Celsius Temperatures: [0, 10, 20, 30, 40]
Fahrenheit Temperatures: [32.0, 50.0, 68.0, 86.0, 104.0]